*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: #333;
}

@media screen and (min-width: 769px) {
  a[href] {
    transition: 0.3s;
  }

  a[href]:hover {
    opacity: 0.7;
  }
}

li {
  list-style: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 0 0 5px 2px #ddd;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  z-index: 1;
}

header .logo {
  padding: 15px;
  font-size: 26px;
  display: block;
  background: #f66;
  color: #fff;
}

header nav ul {
  display: flex;
  font-weight: bold;
  margin-right: 10px;
}

header nav ul > li > a {
  padding: 0 20px;
}

main {
  max-width: 1000px;
  width: 100%;
  padding: 0 20px;
  margin: 120px auto 0;
}

.pageTitle {
  background: #f66;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
  position: relative;
}

.pageTitle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-width: 0 0 40px 40px;
  border-style: solid;
  border-color: #fff #fff #ff1a1a;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.pageTitle h1 {
  color: #fff;
}

main > section {
  margin-top: 50px;
}

main > section a[target="_blank"] {
  color: #8080ff;
  text-decoration: underline;
}

main > section a[target="_blank"]::after {
  content: "\f35d";
  font-weight: bold;
  font-family: "Font Awesome\ 5 Free";
  margin-left: 2px;
}

main > section h2 {
  background: #eee;
  padding: 0.5em;
  margin-bottom: 20px;
  position: relative;
}

main > section h2::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 10px transparent;
  border-right: solid 20px #aeaeae;
}

main > section p {
  line-height: 2;
  font-size: 18px;
}

main > section > section {
  margin-top: 30px;
}

main > section > section h3 {
  display: flex;
  font-weight: bold;
  margin-bottom: 15px;
  line-height: 1.4;
  align-items: center;
}

main > section > section h3::before {
  content: "";
  width: 20px;
  height: 18px;
  background: #333;
  margin-right: 10px;
}

main .btn {
  display: block;
  width: 200px;
  margin: 50px auto;
  padding: 15px 0;
  border-radius: 5px;
  background: #333;
  color: #fff;
  text-align: center;
}
